

:root {
    --white-text: white;
    --border-rad: 5px;
}
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(37, 27, 27, 0.822);
    color: rgb(205, 87, 221);
    /* border: 3px solid greenyellow; */
}
h2, ul {
    border: 1px solid white
}

main {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
header p, li {
    color: white;
}

.display-flex {
    display: flex;
    flex: 0 0 400px;
    align-items: flex-start;
}

h2 {
    border-radius: var(--border-rad);
    margin-left: auto;
    margin-right: auto;
    margin-top: -16px;
    width: 350px;
}

.center {
    text-align: center;
}

article {
    border: 1px dashed white;
    margin-top: 30px;
    align-items: center;
}

ul {
    margin: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }


*/
/*

.row {
    display:flex;
    flex-direction:row:
    flex-wrap:wrap;
}

.column {}
    display:flex;
    flex-direction:column
}

.grid {
    display:grid;
    width:100%;
    grid-template-columns: repeat(12,1fr);
}

.linear-gradient-background {
    background-image:linear-gradient(
        rgba(232,102,236,0.3)0%,
        rgba(232,102,236,0.6)100%
    )
}

.code-card .card-header {
    border-radius:8px;
    transition: all 0.5s ease-in-out;
}

.code-card:hover, 
.code-card:hover .card-header {
    box-shadow: inset Opx 0px 8px
        rgba(232, 102, 236, 1), 0 0 15px
        rgba(232, 102, 236, 1);
}

.card-header {
    position: relative;
    margin-top: -20px;
}